@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
:root{
    --main-font:'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    color: #333;
    font-family: var(--main-font);
}
.row{
    display: flex;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1250px;
    margin: auto;
}
/* ----------------header--------------  */
header{
    position: fixed;
    height: 80px;
    z-index: 1000;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: white;
}
.header_content{
    justify-content: space-between;
    align-items: center;
}
.header_content_logo{
    width: 20%;
}
.header_content_logo img{
    width: 100px;
}
.header_content_nav{
    width: 50%;
}
.header_content_nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_content_nav ul li{
    margin-right: 12px;
}
.header_content_nav ul li:hover a{
    color: aquamarine;
}
.header_content_nav ul li a{
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
}
.header_content_search{
    width: 20%;
}
.header_content_search input{
    border: none;
    outline: none;
    border-bottom: 1px solid #dddddd;
}
.header_content_searc i{
    cursor: pointer;
}
.header_content_icon i{
    width: 20px;
    margin-left: 6px; 
    cursor: pointer;
    
}
 /* ----------------slider-------------- */
 .slider{
    margin-top: 80px;
 }
.slider_content_item{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right,#8bc9e2,#82c1de);
    overflow: hidden;
    display: none;
}
.slider_content_item.active{
    display: flex;
}
.slider_content_item_left{
    width: 50%;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 100px;
}
.slider_content_item_left_text{
    animation: textani 1s linear;
}
@keyframes textani {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.slider_content_item_right img{
    animation: imgani 1s linear;
}
@keyframes imgani {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.slider_content_item_left_text h1{
    font-size: 32px;
}
.slider_content_item_left_text p{
    margin: 20px 0;
    color: #333;
}

.slider_content_item_left_text> i{
    color: gold;
}
.slider_content_item_left_text button{
    display: block;
    height: 40px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 12px;
    border: none;
    background: goldenrod;
    cursor: pointer;
    border-radius: 5px;
    transition: all 1s ease;
}
.slider_content_item_left_text button:hover{
    background-color:darkgoldenrod;
}
.slider_content_item_left_text button i,p{
    color: white;
    margin-right: 6px;
}
.slider_content_item_left_text button i{
    margin-left: 12px;
}
.slider_content_item_right{
    width: 100%;
    height: 100vh; 
}
.slider_content_item_right img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.slider_content{
    position: relative;
}
.slider_content_pre_next{
    position: absolute;
    width: 100%;
    display: flex;
    /* space-between đẩy về 2 phía */
    justify-content: space-between; 
    top: 50%;
}
.slider_content_pre_next i{
    font-size: 32px;
    cursor: pointer;
    color: blue;
}
/* ---------------------cartegory--------------- */
.cartegory{
    margin-top: 30px;
}
.cartegory_content{
    justify-content: space-between;
}
.cartegory_item{
    width: 32%; 
    height: 300px;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cartegory_item:hover h2{
    background-color: tomato;
}
.cartegory_item h2{
    position: absolute;
    height: 30px;
    width: 50%;
    background-color: rosybrown;
    text-align: center;
    border: tomato solid;
}
.cartegory_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
/* ---------------------product----------------- */

.title_h1{
    text-align: center;
    margin: 20px 0 30px;
    position: relative;
}
.title_h1::after{
    position: absolute;
    content: "";
    display: block;
    height: 5px;
    width: 100px;
    background-color: tomato;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.title_h2{
    background-color:#8bc9e2;
    color: tomato;
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 5px;
}

.product_item{
    margin-bottom: 50px;
}
.owl-prev, .owl-next:hover{
    background-color: transparent!important;
}
.owl-prev, .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.owl-next {
    right: 0;
}
.owl-prev {
    left: 0;
}
.owl-nav button span{
    font-size: 50px;
}
.product_content_item{
    position: relative;
}
.product_content_item:hover .product_content_item_text{
    width: 100%;
    height: 100%;
}
.product_content_item_text{
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    background-color: rgba(130, 193, 222, 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column; 
    transition: all 0.3s ease;
}
.product_content_item_text h1{
    color: tomato;

}
.product_content_item_text p{
    color: #333;
    font-weight: bold;
}
.product_content_item_text button{
    height: 30px;
    padding: 0 6px;
    background-color: tomato;
    border: none;
    color: white;
    border-radius: 20px;
}
.product_content_item_text i{
    color: tomato;
    font-size: 20px;
    cursor: pointer;
    padding: 0 2px;
}
/* -----------------------blog------------ */
.blog_content{
    justify-content: space-between;
}
.blog_content_item{
    width: 30%;
    height: 300px;

}
.blog_content_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* -------------------footer------------- */
footer{
    background-color: #f4f4f4;
    margin-top: 100px;
    padding: 50px 0 10px;
}
footer p {
    color: #333;
}
.footer_content{
    justify-content: space-between;
}
.footer_content h3{
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}   
.footer_content p{
    margin-bottom: 6px;

}
.footer_content_social{
    text-align: center;
    padding: 50px 0 20px;
}
.footer_content_social i{
    font-size: 20px;
    margin-right: 12px;
    cursor: pointer;
}
.footer_copyright{
    text-align: center;
}
.footer_img{
    text-align: center;
}
.footer_img img{
    width: 100px;
}